name: main build
on:
  push:
    branches:
      - main
    paths:
      - "e2e/images/**"
      - "Makefile"

jobs:
  validate:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@v10
        with:
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"
          remove-docker-images: "true"

      - name: Check out code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Login to GitHub Container Registry
        env:
          GHCR_AUTH_PAT: ${{ secrets.GHCR_AUTH_PAT }}
          GHCR_AUTH_USER: ${{ secrets.GHCR_AUTH_USER }}
        run: echo $GHCR_AUTH_PAT | docker login ghcr.io -u $GHCR_AUTH_USER --password-stdin

      - name: Login to Docker Hub
        env:
          DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
        run: echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u $DOCKER_HUB_USERNAME --password-stdin

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: e2e-images
        run: make e2e-images
