name: pull request validation
on: [pull_request]
jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Maximize disk space
        run: |
          # inspired by easimon/maximize-build-space action but it can't be easily used because this runs in a container
          # https://github.com/easimon/maximize-build-space/blob/c28619d8999a147d5e09c1199f84ff6af6ad5794/action.yml#L41-L60
          # remove android sdk => ~11GB
          rm -rf /host/usr/local/lib/android
          # remove .NET => ~17GB
          rm -rf /host/usr/share/dotnet
          # remove haskell => ~2.7GB
          rm -rf /host/opt/ghc
          # remove CodeQL => ~5.4 GB
          rm -rf /opt/hostedtoolcache/CodeQL
          # remove CodeQL => ~3 GB
          docker image prune --all --force

      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            e2e-images:
              - 'e2e/images/**'

      - name: Build
        if: steps.filter.outputs.e2e-images == 'true'
        run: make build-e2e-images

  validate-keda-tools:
    name: Validate keda-tools - ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - runner: ARM64
            name: arm64
          - runner: ubuntu-latest
            name: amd64
          - runner: s390x
            name: s390x
    steps:
      - uses: actions/checkout@v3

      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            tools:
              - 'tools/**'
              - 'Makefile'

      - name: Set up QEMU
        if: steps.filter.outputs.tools == 'true'
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        if: steps.filter.outputs.tools == 'true'
        uses: docker/setup-buildx-action@v2

      - name: Build tools
        if: steps.filter.outputs.tools == 'true'
        run: make build-keda-tools

  validate-keda-k6-runner:
    name: Validate keda-k6-runner - ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - runner: ARM64
            name: arm64
          - runner: ubuntu-latest
            name: amd64
    steps:
      - uses: actions/checkout@v3

      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            k6-runner:
              - 'k6-runner/**'
              - 'Makefile'

      - name: Set up QEMU
        if: steps.filter.outputs.k6-runner == 'true'
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        if: steps.filter.outputs.k6-runner == 'true'
        uses: docker/setup-buildx-action@v2

      - name: Build k6-runner
        if: steps.filter.outputs.k6-runner == 'true'
        run: make build-keda-k6-runner
